
/*-- scss:defaults --*/


/*-- scss:rules --*/


.center {
  text-align: center;
}

/* Flowchart */

.flowchart{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:14px;
  flex-wrap:wrap;           /* wraps nicely on small screens */
  padding:12px;
}

.node{
  padding:10px 14px;
  border:2px solid #222;
  border-radius:6px;
  background:#fff;
  font:600 18px/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  white-space:nowrap;
}

.arrow{
  font:500 18px/1 system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color:#222;
  user-select:none;
}

.chart-wrapper {
  display:flex;
  justify-content:center;
}

svg {
  font-family: serif;
}

.box rect {
  width:300px;
  height:50px;
  fill:#19f3f3;
  stroke:#000;
  stroke-width:1.5;
}

.box text {
  x:150;
  y:28;
  text-anchor:middle;
  font-size:14px;
  font-weight:500;
}

line, path {
  stroke:#000;
  stroke-width:1.5;
}

/* callout */

div.note {
  font-size: inherit;
  border-left: 4px solid #4a90e2;
  padding: .15em 0 0 1em; /* top right bottom left */
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
  background: #f5f9ff;
}

div.question {
  font-size: inherit;
  border-left: 4px solid #844ae2;
  padding: .15em 0 0 1em; /* top right bottom left */
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
  background: #faf5ff;
}

div.tip {
  font-size: inherit;
  border-left: 4px solid #2ecc71;
  padding: .15em 0 0 1em; /* top right bottom left */
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
  background: #f4fff8;
}

div.example {
  font-size: inherit;
  border-left: 4px solid #a3a3a3;
  padding: .15em 0 0 1em; /* top right bottom left */
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
  background: #fff;
}


div.warning {
  font-size: inherit;
  border-left: 4px solid #e67e22;
  padding: .15em 0 0 1em; /* top right bottom left */
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
  background: #fff6ed;
}