
/*-- scss:defaults --*/

$footer-bg: #303030;

/*-- scss:rules --*/

.quarto-cover-image {
  content: url("cover_dark.png");
}


.center {
  text-align: center;
}

/* Flowchart */

.flowchart{
  display:flex;
  align-items:center;
  justify-content:center;
  gap:14px;
  flex-wrap:wrap;           /* wraps nicely on small screens */
  padding:12px;
}

.node{
  padding:10px 14px;
  border:2px solid #222;
  border-radius:6px;
  background:#fff;
  color:$body-color;
  font:600 18px/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  white-space:nowrap;
}

.arrow{
  font:500 18px/1 system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color:$body-color;
  user-select:none;
}

.chart-wrapper {
  display:flex;
  justify-content:center;
}

svg {
  font-family: serif;
}

.box rect {
  width:300px;
  height:50px;
  fill:#19f3f3;
  stroke:$body-color;
  stroke-width:1.5;
}

.box text {
  fill:$body-color;
  x:150;
  y:28;
  text-anchor:middle;
  font-size:14px;
  font-weight:500;
}

line, path {
  stroke:$body-color;
  stroke-width:1.5;
}

/* callout */

div.note {
  font-size: inherit;
  border-left: 4px solid #4a90e2;
  padding: .15em 0 0 1em; /* top right bottom left */
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
  background: color-mix(in srgb, #4a90e2 6%, $body-bg);
  color: $body-color;

}

div.question {
  font-size: inherit;
  border-left: 4px solid #844ae2;
  padding: .15em 0 0 1em; /* top right bottom left */
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
  background-color: color-mix(in srgb, #844ae2 6%, $body-bg);
  color: $body-color;
}

div.tip {
  font-size: inherit;
  border-left: 4px solid #2ecc71;
  padding: .15em 0 0 1em; /* top right bottom left */
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
  background-color: color-mix(in srgb, #2ecc71 6%, $body-bg);
  color: $body-color;
}

div.example {
  font-size: inherit;
  border-left: 4px solid #a3a3a3;
  padding: .15em 0 0 1em; /* top right bottom left */
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
  background-color: color-mix(in srgb, #a3a3a3 6%, $body-bg);
  color: $body-color;
}


div.warning {
  font-size: inherit;
  border-left: 4px solid #e67e22;
  padding: .15em 0 0 1em; /* top right bottom left */
  border-bottom-right-radius: 11px;
  border-top-right-radius: 11px;
  background-color: color-mix(in srgb, #e67e22 6%, $body-bg);
  color: $body-color;
}
